body {
  font-size:80%; background:#f0f0f0;
}

ul{
  margin:0;padding:0;
}
p.msg {
  color:red;
}

li{
  float:left;
  margin-right:10px;
  list-style-type:none;
}
p{
  padding-top:10px;
  clear:both;
}
table{
  margin-bottom:5px;
}
#left{
  float:left;
  width:200px;
}
#center{
  float:left;
  width:250px;
}
#right{
  float:left;
  width:350px;
}
#contents{
  clear:both;
  width:800px;
}
